<h1>天気検索くん(仮称)</h1>
<%= form_with url: weathers_path, method: :get, local: true do |form| %>
    <%= form.label :location, "地域名を入力してください" %>
    <%= form.text_field :location, placeholder: "例: 足立区" %>
    <%= form.submit "検索" %>
<% end %> 